/* html {
  margin: 0 auto;
  max-width: 550px;
  height: 200px;
}

body {
  background-color: rgb(24, 23, 23);
} */



html {
  margin: 0;
  padding: 0;
  height: 100%; 
}

body {
  background-color: rgb(24, 23, 23);
  max-width: 550px;
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */



  
}